
# python stuff
*.venv
.pdm.toml
__pycache__
.pdm-python
.pytest_cache
.coverage
htmlcov

# data ignores
data/Buildings
data/gis
data/mbta_communities

# qgis files
*.qgz

# exceptions (for tiny files)
!data/zoning_rules_table.csv
!data/likely_homeowners.csv.dvc
