
# python stuff
*.venv
.pdm.toml
__pycache__
.pdm-python
.pytest_cache
.coverage
htmlcov

# jupyter stuff
.ipynb_checkpoints

# data ignores
data/Buildings
data/gis
data/mbta_communities

# generated data
derived
html
*.csv
*.xlsx
published/index.html

# other
config.json

# exceptions (for tiny files)
!data/zoning_rules_table.csv
